In [12]:
import warnings

import arviz as az
import matplotlib.pyplot as plt
import numpy as np
import pymc3 as pm
import theano.tensor as tt
import pandas as pd
import csv

warnings.simplefilter(action="ignore", category=FutureWarning)

In [4]:
%config InlineBackend.figure_format = 'retina'
az.style.use("arviz-darkgrid")
print(f"Running on PyMC3 v{pm.__version__}")
print(f"Running on ArviZ v{az.__version__}")

Running on PyMC3 v3.11.0
Running on ArviZ v0.11.0

In [19]:
df = pd.read_csv(r'alaskaPopulation.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Alaska,NaN,NaN,NaN,NaN,Demographics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Population,Population Change,Vote Margin,Education Rate,White,Black,Hispanic/Latino,American Indian,AAPI,Other,Turnout,Eligible Voters
2,2000,"632,716","4,370",NaN,NaN,"463,075","27,425","27,892","108,430","33,786",NaN,NaN,NaN
3,2002,"649,466","7,737",-155305,NaN,"472,059","28,357","31,483","111,314","37,736",NaN,NaN,NaN
4,2004,"667,146","7,493",-9349,NaN,"482,786","29,482","34,703","113,773","41,105",NaN,NaN,NaN
5,2006,"680,169","5,586",NaN,NaN,"490,232","30,599","36,579","115,421","43,917",NaN,NaN,NaN
6,2008,"697,828","11,010",3953,NaN,"499,690","31,530","38,426","117,974","48,634",NaN,NaN,NaN
7,2010,"722,262","8,349",-30794,NaN,"527,690","34,168","39,249","139,782","50,945",NaN,NaN,NaN
8,2012,"736,077","5,428",NaN,NaN,"538,838","36,808","44,934","144,833","56,922",NaN,NaN,NaN
9,2014,"736,989",573,-6014,NaN,"537,212","37,705","49,801","146,969","59,161",NaN,NaN,NaN
10,2016,"737,783","-1,866",-101949,NaN,"532,652","39,039","52,480","147,852","62,661",NaN,NaN,NaN
11,2018,"731,007","-3,048",NaN,NaN,"525,888","39,017","52,842","148,042","63,455",NaN,NaN,NaN
12,2020,NaN,NaN,-45044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
with pm.Model() as model:
    # Model definition
    pass